### Medical Dataset Analysis: Python, SQL, and Insights
Step into the world of data-driven healthcare analysis alongside Sarah, the healthcare data explorer, in our project, "Medical Dataset Analysis: Python, SQL, and Insights." With Python as her trusted tool and SQL as her analytical compass, Sarah embarks on a mission to unlock the potential hidden in interconnected medical datasets.

This project focuses on three critical datasets: "hospitalization_details," "medical_examinations," and "names." Divided into two essential modules, the project commences with meticulous data cleaning, ensuring the data's accuracy and structure. Once the data shines brilliantly, the second module unleashes the power of SQL queries to extract valuable insights.

Our journey is a deep dive into healthcare data, unearthing insights that can revolutionize healthcare decision-making and resource optimization. It's not just data analysis; it's a transformative voyage into the world of medical dataset analysis.

By the end of this project, you won't just crunch numbers; you'll possess the tools to drive data-powered improvements in healthcare, enhancing the lives of patients and streamlining resource allocation.

Join Sarah on this captivating journey, where every line of code and every SQL query unravels the mysteries of medical data. Together, we'll illuminate the path to actionable insights, shaping the future of healthcare with data-driven solutions.

#### Module 1 - Task 1 Loading Hospitalization Details 
Read the CSV file hospitalisation_details.csv into a Pandas DataFrame named 'hosp_details'.

In [1]:
#--- Import Pandas ---
import pandas as pd
#--- Read in dataset(hospitalisation_details.csv) ----
hosp_details = pd.read_csv('./hospitalisation_details.csv')

#--- Inspect data ---
hosp_details

,c_id,yr,mth,date?,children?,charges?,host_tier,Ct_tier,st_id,Has_Children,Is_Frequent_Treatment
0,Id2335,1992,Jul,9,0,563.84,tier - 2,tier - 3,R1013,no,no
1,Id2334,1992,Nov,30,0,570.62,tier - 2,tier - 1,R1013,no,no
2,Id2333,1993,NaN,30,0,600.00,tier - 2,tier - 1,R1013,no,no
3,Id2332,1992,Sep,13,0,604.54,tier - 3,tier - 3,R1013,no,no
4,Id2331,1998,Jul,27,0,637.26,tier - 3,tier - 3,R1013,no,no
...,...,...,...,...,...,...,...,...,...,...,...
2427,Id2169,1999,Oct,1,0,1826.84,tier - 3,tier - 2,R1011,no,no
2428,Id2168,2003,Aug,11,1,1832.09,tier - 3,tier - 3,R1011,yes,no
2429,Id2167,2003,Aug,4,1,1837.24,tier - 3,tier - 2,R1011,yes,no
2430,Id2166,1999,Dec,12,0,1837.28,tier - 3,tier - 2,R1013,no,no
2431,Id2165,2003,Jul,20,1,1842.52,tier - 3,tier - 2,R1011,yes,no

#### Task 2: Identifying Null Values in Hospitalization Details

In [2]:
# --- WRITE YOUR CODE FOR MODULE 1 TASK 2 ---
null_values = hosp_details.isnull().sum()

#--- Inspect data ---
null_values

c_id                     0
yr                       0
mth                      1
date?                    0
children?                0
charges?                 0
host_tier                0
Ct_tier                  0
st_id                    0
Has_Children             0
Is_Frequent_Treatment    0
dtype: int64

#### Task 3: Identifying Data Types in Hospitalization Details

In [3]:
# --- WRITE YOUR CODE FOR MODULE 1 TASK 3 ---
datatype = hosp_details.dtypes

datatype

c_id                      object
yr                         int64
mth                       object
date?                      int64
children?                  int64
charges?                 float64
host_tier                 object
Ct_tier                   object
st_id                     object
Has_Children              object
Is_Frequent_Treatment     object
dtype: object

#### Task 4: Identifying Duplicate Data in Hospitalization Details

In [4]:
# --- WRITE YOUR CODE FOR MODULE 1 TASK 4 ---
duplicates = hosp_details.duplicated().sum()

#--- Inspect data ---
duplicates

89

#### Task 5: Data Preprocessing and Cleaning for Hospitalization Details

In [5]:
# --- WRITE YOUR CODE FOR TASK 5 ---
hosp_details.drop_duplicates(inplace=True)

# Task 5.2: Remove specific columns from the DataFrame
columns_to_remove = ["Has_Children", "Is_Frequent_Treatment"]
hosp_details.drop(columns=columns_to_remove, inplace=True)

# Task 5.3: Create a dictionary for renaming columns
new_columns = {
    'c_id': 'customer_id',
    'yr': 'year',
    'mth': 'month',
    'date?': 'date',
    'children?': 'children',
    'charges?': 'charges',
    'host_tier': 'hospital_tier',
    'Ct_tier': 'city_tier',
    'st_id': 'state_id'
}

# Task 5.4: Rename columns in the DataFrame
hosp_details.rename(columns=new_columns, inplace=True)

# Task 5.5: Save the modified DataFrame to a CSV file
hosp_details.to_csv('hospitalisation_details_cleaned.csv', index=False)

#--- Inspect data ---
hosp_details

,customer_id,year,month,date,children,charges,hospital_tier,city_tier,state_id
0,Id2335,1992,Jul,9,0,563.84,tier - 2,tier - 3,R1013
1,Id2334,1992,Nov,30,0,570.62,tier - 2,tier - 1,R1013
2,Id2333,1993,NaN,30,0,600.00,tier - 2,tier - 1,R1013
3,Id2332,1992,Sep,13,0,604.54,tier - 3,tier - 3,R1013
4,Id2331,1998,Jul,27,0,637.26,tier - 3,tier - 3,R1013
...,...,...,...,...,...,...,...,...,...
2338,Id5,1989,Jun,19,0,55135.40,tier - 1,tier - 2,R1012
2339,Id4,1991,Jun,6,1,58571.07,tier - 1,tier - 3,R1024
2340,Id3,1970,Jun,11,3,60021.40,tier - 1,tier - 1,R1012
2341,Id2,1977,Jun,8,0,62592.87,tier - 2,tier - 3,R1013
2342,Id1,1968,Oct,12,0,63770.43,tier - 1,tier - 3,R1013

#### Task 6: Loading Medical Examination Data

In [6]:
#--- Read in dataset (medical_examinations.csv) ----
# ---WRITE YOUR CODE FOR TASK 6 ---
med_exam = pd.read_csv('medical_examinations.csv')

#--- Inspect data ---
med_exam

,cid,b_m_i,HBA1C,h_Issues,any_transplant,cancer_hist,noofmajorsurgeries,smoker??,recovery_period
0,Id1,47.410,7.47,No,No,No,No major surgery,yes,None
1,Id2,30.360,5.77,No,No,No,No major surgery,yes,None
2,Id3,34.485,11.87,yes,No,No,2,yes,Moderate
3,Id4,38.095,6.05,No,No,No,No major surgery,yes,None
4,Id5,35.530,5.45,No,No,No,No major surgery,yes,None
...,...,...,...,...,...,...,...,...,...
2369,Id128,32.775,4.72,No,No,No,No major surgery,yes,None
2370,Id129,34.200,5.91,yes,No,No,No major surgery,yes,None
2371,Id130,30.200,9.58,No,No,No,No major surgery,yes,None
2372,Id131,48.320,5.77,No,No,No,No major surgery,yes,None
2373,Id132,44.860,4.38,yes,No,No,No major surgery,yes,None

#### Task 7: Identifying Null Values in Medical Examination Data

In [7]:
# --- WRITE YOUR CODE FOR MODULE 1 TASK 7 ---
null_values =  med_exam.isnull().sum()


#--- Inspect data ---
null_values

cid                   0
b_m_i                 0
HBA1C                 0
h_Issues              0
any_transplant        0
cancer_hist           0
noofmajorsurgeries    0
smoker??              0
recovery_period       0
dtype: int64

#### Task 8: Identifying Data Types in Medical Examination Data

In [8]:
# --- WRITE YOUR CODE FOR MODULE 1 TASK 8 ---
datatype =  med_exam.dtypes

datatype

cid                    object
b_m_i                 float64
HBA1C                 float64
h_Issues               object
any_transplant         object
cancer_hist            object
noofmajorsurgeries     object
smoker??               object
recovery_period        object
dtype: object

####  Task 9: Identifying Duplicate Data in Medical Examination Data

In [9]:
# --- WRITE YOUR CODE FOR MODULE 1 TASK 9 ---
duplicates = med_exam.duplicated().sum()

#--- Inspect data ---
duplicates

39

#### Task 10: Data Preprocessing and Cleaning for Medical Examination Data

In [10]:
# --- WRITE YOUR CODE FOR  MODULE 1 TASK 10 ---
med_exam.drop_duplicates(inplace=True)

columns_to_remove = ['recovery_period']
med_exam.drop(columns =  columns_to_remove , inplace = True)
new_columns = { 
    'cid' : 'customer_id',
    'b_m_i': 'BMI',
    'h_Issues' : 'health_issues',
    'cancer_hist' : 'cancer_history',
    'noofmajorsurgeries': 'numberofmajorsurgeries',
    'smoker??' : 'smoker'
   
}
med_exam.rename(columns = new_columns, inplace = True )


#--- Export the df as "medical_examinations_cleaned.csv" ---
med_exam.to_csv('medical_examinations_cleaned.csv', index = False)

#med_exam = ...

#--- Inspect data ---

#### Module 2
Task 1: Data Download, Import, and Database Connection

In [28]:
!pip install pymysql
# Load the SQL extension
%load_ext sql

# Specify the MySQL connection string
%sql mysql+pymysql://ba32ae38:Cab#22se@localhost/ba32ae38

Requirement already satisfied: pymysql in c:\users\roopm\anaconda3\lib\site-packages (1.1.0)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 3293, in raw_connection
    return self.pool.connect()
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 1269, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 716, in checkout
    rec = pool._do_get()
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\impl.py", line 170, in _do_get
    self._dec_overflow()
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\impl.py", line 167, in _do_get
    return self._create_connection()
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 678, in __init__
    self.__connect()
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 903, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 645, in connect
    return dialect.connect(*cargs, **cparams)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 616, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\connections.py", line 358, in __init__
    self.connect()
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\connections.py", line 664, in connect
    self._request_authentication()
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\connections.py", line 968, in _request_authentication
    auth_packet = self._process_auth(plugin_name, auth_packet)
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\connections.py", line 1062, in _process_auth
    pkt = self._read_packet()
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\connections.py", line 772, in _read_packet
    packet.raise_for_error()
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\protocol.py", line 221, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\err.py", line 143, in raise_mysql_exception
    raise errorclass(errno, errval)
pymysql.err.OperationalError: (1045, "Access denied for user 'ba32ae38'@'localhost' (using password: YES)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 3269, in connect
    return self._connection_cls(self)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 147, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 2431, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\engine\base.py", line 3293, in raw_connection
    return self.pool.connect()
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 1269, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 716, in checkout
    rec = pool._do_get()
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\impl.py", line 170, in _do_get
    self._dec_overflow()
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\impl.py", line 167, in _do_get
    return self._create_connection()
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 678, in __init__
    self.__connect()
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 903, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\pool\base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 645, in connect
    return dialect.connect(*cargs, **cparams)
  File "C:\Users\roopm\anaconda3\lib\site-packages\sqlalchemy\engine\default.py", line 616, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\connections.py", line 358, in __init__
    self.connect()
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\connections.py", line 664, in connect
    self._request_authentication()
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\connections.py", line 968, in _request_authentication
    auth_packet = self._process_auth(plugin_name, auth_packet)
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\connections.py", line 1062, in _process_auth
    pkt = self._read_packet()
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\connections.py", line 772, in _read_packet
    packet.raise_for_error()
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\protocol.py", line 221, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "C:\Users\roopm\anaconda3\lib\site-packages\pymysql\err.py", line 143, in raise_mysql_exception
    raise errorclass(errno, errval)
sqlalchemy.exc.OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'ba32ae38'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 2: Average Hospital Charges Analysis

In [12]:
%%sql
SELECT AVG(charges) AS average_charge
FROM hospitalization_details;

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

Task 3: High Charges Analysis

In [13]:
%%sql

SELECT customer_id, year, charges
FROM hospitalization_details
WHERE charges > 700;

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 4: High BMI Patients Analysis

In [14]:
%%sql
SELECT
    n.name,
    h.year,
    h.charges
FROM names n
JOIN hospitalization_details h ON
    n.customer_id = h.customer_id
JOIN medical_examinations m ON
    m.customer_id = n.customer_id
WHERE m.BMI > 35;

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 5: Customers with Major Surgeries

In [15]:
%%sql
SELECT n.customer_id , n.name from names n
join medical_examinations m on m.customer_id = n.customer_id 
where m.numberofmajorsurgeries >= 1;

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 6: Average Charges by Hospital Tier in 2000

In [16]:
%%sql
select hospital_tier , avg(charges) as avg_charges from hospitalization_details 
where year = 2000
group by hospital_tier

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 7: Smoking Patients with Transplants Analysis

In [17]:
%%sql
select  m.customer_id , m.BMI , h.charges from hospitalization_details h 
JOIN medical_examinations m on m.customer_id = h.customer_id
where m.smoker = 'yes' and  m.any_transplant = 'yes'

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 8: Patients with Major Surgeries or Cancer History

In [18]:
%%sql

select n.name from names n 
join medical_examinations m on m.customer_id = n.customer_id
where m.numberofmajorsurgeries >=2 or m.cancer_history = 'yes'

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 9: Customer with Most Major Surgeries

In [19]:
%%sql
select n.customer_id, n.name from names n 
join medical_examinations m on m.customer_id = n.customer_id 
order by m.numberofmajorsurgeries desc 
limit 1;

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 10: Customers with Major Surgeries and City Tiers

In [20]:
%%sql
select n.customer_id , n.name , h.city_tier from names n 
join hospitalization_details h on h.customer_id =n.customer_id
join medical_examinations m on m.customer_id = n.customer_id
where m.numberofmajorsurgeries > 0 ;

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 11: Average BMI by City Tier in 1995

In [21]:
%%sql

SELECT
    h.city_tier,
    AVG(m.BMI) avg_bmi
FROM
    hospitalization_details h
JOIN medical_examinations m ON
    m.customer_id = h.customer_id
WHERE
    h.year = '1995'
GROUP BY
    1

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 12: High BMI Customers with Health Issues
Get the customer_id, name, and charges of customers who have health issues and a BMI greater than 30.

In [22]:
%%sql

select n.customer_id , n.name , h.charges from names n 
join hospitalization_details h on n.customer_id = h.customer_id
join medical_examinations m on m.customer_id = n.customer_id
where m.BMI > 30 and m.health_issues = 'yes'

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 13: Customers with Highest Charges and City Tier by Year
For each year, find the customer with the highest total charges and their corresponding city_tier.
Display the year, customer name, city_tier, and the total charges.

In [23]:
%%sql
WITH MaxChargesCTE AS (
    SELECT
        hd.year,
        n.name,
        hd.city_tier,
        hd.charges,
        ROW_NUMBER() OVER (PARTITION BY hd.year ORDER BY hd.charges DESC) AS rn
    FROM
        hospitalization_details hd
    JOIN
        names n ON hd.customer_id = n.customer_id
)
SELECT
    year,
    name,
    city_tier,
    charges AS max_charges
FROM
    MaxChargesCTE
WHERE
    rn = 1;

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 14: Top 3 Customers with Highest Average Yearly Charges
Find the top 3 customers with the highest average yearly charges over the years they have been hospitalized. Display their names and the average yearly charges.

In [24]:
%%sql
WITH YearlyCharges as ( SELECT h.year, n.name as name , avg(h.charges) as avg_yearly_charges from hospitalization_details
                       h join names n on h.customer_id = n.customer_id 
                       GROUP by 1,2 ) 
                       
                      select name, avg_yearly_charges from YearlyCharges
                      order by avg_yearly_charges DESC
                      limit 3

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 15: Ranking Customers by Total Charges
Rank the customers based on their total charges over the years in descending order(Use Rank function). Display their names, total charges, and their rank.

In [25]:
%%sql
SELECT
    n.name,
    SUM(h.charges) AS total_charges,
    RANK() OVER ( ORDER BY SUM(h.charges) DESC) AS rank1
FROM
    names n
JOIN
    hospitalization_details h ON h.customer_id = n.customer_id
GROUP BY
    n.name;

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Task 16: Identifying Peak Year for Hospitalizations
    Find the year with the highest number of hospitalizations. 
    Display the year and the count of hospitalizations in that year.

In [26]:
%%sql
WITH YearlyHospitalizations AS (
    SELECT
        year,
        COUNT(customer_id) AS hospitalization_count
    FROM
        hospitalization_details
    GROUP BY
        year
)

SELECT
    year,
    hospitalization_count
FROM
    YearlyHospitalizations
WHERE
    year = (SELECT MAX(year) FROM YearlyHospitalizations);

Traceback (most recent call last):
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\roopm\anaconda3\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])